<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Add Manufacturer</title>

    <style>
        .container {
            margin-top: 20px; 
            margin-bottom: 20px;
        }

        h1 {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
    <h1>Add new manufacturer</h1>
    <div>
        <form th:object="${manufacturer}" th:action="@{/savemanufacturer}" action="#" method="post">
            <div class="mb-3">
            <label for="name">Manufacturer name:</label>
                <input type="text" id="name" th:field="*{name}" />
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Name error</div>
            </div>
            <button type="submit" class="btn btn-primary btn-smaller">Save</button>
            <button type="button" onclick="location.href='/manufacturerlist'" class="btn btn-danger btn-smaller">Cancel</button>
        </form>
    </div>
    <br>
    <a href="/home" class="btn btn-dark btn-smaller" style="margin-top: 10px; margin-bottom: 20px;">Back
        to homepage</a>
</div>
</body>

</html>