<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Add Manufacturer</title>
</head>

<body>
    <h1>Add new manufacturer</h1>
    <div>
        <form th:object="${manufacturer}" th:action="@{/savemanufacturer}" action="#" method="post">
            <label for="name">Manufacturer name:</label>
                <input type="text" id="name" th:field="*{name}" />
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</td>
                <br>
            <button type="submit">Save</button>
        </form>
    </div>
    <br>
    <button type="button" onclick="location.href='/manufacturerlist'">Cancel</button>
    <br>
    <a href="/home">Back to homepage</a>
</body>

</html>