<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Deleted List</title>
</head>

<body>
    <div th:replace="~{fragments :: headerfragment}"></div>
    <div class="container">
        <br>
        <h2 class="h2">Customers asked to be deleted</h2>
        <table class="table table-striped">
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.firstname}"></td>
                <td th:text="${customer.lastname}"></td>
                <td>
                    <a th:href="@{/delete-customer/{id}(id=${customer.id})}" type="button"
                        class="btn btn-danger btn-smaller"
                        th:data-confirm-delete="|Are you sure you want to delete this customer? ${customer.email}|"
                        onclick="return confirm(this.getAttribute('data-confirm-delete'))">Delete permanently</a>
                </td>
        </table>
        <br>
        <h2 class="h2">Deleted manufacturers</h2>
        <table class="table table-striped" style="max-width: 500px;">
            <tr>
                <th>Name</th>
                <th style="width: 30px;"></th>
                <th style="width: 30px;"></th>
            </tr>
            <tr th:each="manufacturer : ${manufacturers}">
                <td th:text="${manufacturer.name}"></td>
                <td>
                    <form th:object="${manufacturer}" th:action="@{/restore-manufacturer/{id}(id=${manufacturer.id})}"
                        method="post">
                        <button type="submit" class="btn btn-primary">Restore</button>
                    </form>
                </td>
                <td>
                    <a th:href="@{/delete-manufacturer/{id}(id=${manufacturer.id})}" type="button"
                        class="btn btn-danger btn-smaller"
                        th:data-confirm-delete="|Are you sure you want to delete this manufacturer? ${manufacturer.name}|"
                        onclick="return confirm(this.getAttribute('data-confirm-delete'))">Delete permanently</a>
                </td>
            </tr>
        </table>
        <br>
        <h2 class="h2">Deleted products</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Manufacturer</th>
                <th>Stock</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.type.name}"></td>
                <td th:text="${product.color}"></td>
                <td th:text="${product.size}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.manufacturer.name}"></td>
                <td th:text="${product.stock}"></td>
                <td>
                    <form th:object="${product}" th:action="@{/restore-product/{id}(id=${product.id})}" method="post">
                        <button type="submit" class="btn btn-primary">Restore</button>
                    </form>
                </td>
                <td>
                    <a th:href="@{/delete-product/{id}(id=${product.id})}" type="button"
                        class="btn btn-danger btn-smaller"
                        th:data-confirm-delete="|Are you sure you want to delete this product? ${product.name}|"
                        onclick="return confirm(this.getAttribute('data-confirm-delete'))">Delete permanently</a>
                </td>

        </table>
        <br>
        <a href="/home" class="btn btn-dark btn-smaller" style="margin-top: 10px; margin-bottom: 10px;">
            Back to homepage</a>
    </div>
</body>

</html>