
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
	<h1>Edit Product</h1>

	<div>
		<form th:object="${product}" th:action="@{/savemodified}" action="#" method="post">
			<!-- Hidden field for productId -->
			<input type="hidden" th:field="*{id}" />
			<!-- Hidden field for stock -->
			<input type="hidden" th:field="*{stock}" />

			<label for="name">Name</label>
				<input type="text" id="productName" th:field="*{name}" />
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</td>
			<br>
			<label for="typelist">Type</label>
			<select id="typelist" th:field="*{type}" class="form-control" required >
				<option th:each="type: ${types}" th:value="${type.id}" th:text="${type.name}"></option>
				<td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type error</td>
			</select>
			<br>
			<label for="color">Color</label>
				<input type="text" id="color" th:field="*{color}" />
			<br>
			<label for="size">Size</label>
            <select id="size" th:field="*{size}" class="form-control">
                <option value="">-</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
            </select>
			<br>
			<label for="price">Price</label>
				<input type="text" id="price" th:field="*{price}" />
				<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price error</td>
			<br>
			<label for="manufacturerlist">Manufacturer</label>
			<select id="manufacturerlist" th:field="*{manufacturer}" class="form-control" required >
				<option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
			</select>
			<br>

			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
		<button type="button" onclick="location.href='/productlist'">Cancel</button>
		<br>
		<a href="/home">Back to homepage</a>
	</div>


</body>
</html>