<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Manufacturer</title>
</head>

<body>
    <h1>Edit Manufacturer</h1>
    <div>
        <form th:object="${manufacturer}" th:action="@{/saveedit}" action="#" method="post">
            <input type="hidden" th:field="*{id}" />

            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" />
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</td>

            <br>
            <input type="submit" class="btn btn-success" value="Save"></input>
        </form>
        <div>
            <button type="button" onclick="location.href='/manufacturerlist'">Cancel</button>
        </div>
        <br>
        <a href="/home">Back to homepage</a>
    </div>
</body>

</html>