<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit Product Stock</title>
</head>

<body>
	<h1>Edit Product Stock</h1>
	<div>
		<form th:object="${product}" th:action="@{/savestock}" action="#" method="post">
			<input type="hidden" th:field="*{id}" />
			<label for="stock">Edit stock</label>
			<input type="number" id="stock" th:field="*{stock}" />
			<td th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}">Stock error</td>
			<br>
			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
		<button type="button" onclick="location.href='/productlist'">Cancel</button>
		<br>
		<a href="/home">Back to homepage</a>
	</div>
</body>

</html>