<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<title>Edit Product</title>

	<style>
		input {
			margin-right: 10px;
		}

		select {
			margin-right: 10px;
		}

		label {
			margin-right: 10px;
		}

		.container {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.form-control {
			width: max-content;
		}

		h1 {
			margin-bottom: 20px;
		}
	</style>
</head>

<body>

	<div class="container">
		<h1>Edit Product</h1>

		<div>
			<!-- Form for editing an existing Product and saving the edited one -->
			<form th:object="${product}" th:action="@{/savemodified}" action="#" method="post">
				<!-- Hidden field for productId -->
				<input type="hidden" th:field="*{id}" />
				<!-- Hidden field for stock -->
				<input type="hidden" th:field="*{stock}" />

				<div class="mb-3 d-flex align-items-center">
					<label for="name">Name</label>
					<input type="text" id="productName" th:field="*{name}" />
					<div class="text-danger ms-3" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error
					</div>
				</div>

				<div class="mb-3 d-flex align-items-center">
					<label for="typelist">Type</label>
					<select id="typelist" th:field="*{type}" class="form-control" required>
						<option th:each="type: ${types}" th:value="${type.id}" th:text="${type.name}"></option>
						<div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="text-danger ms-3">Type
							error</div>
					</select>
				</div>


				<div class="mb-3 d-flex align-items-center">
					<label for="color">Color</label>
					<input type="text" id="color" th:field="*{color}" />
				</div>

				<div class="mb-3 d-flex align-items-center">
					<label for="size">Size</label>
					<select id="size" th:field="*{size}" class="form-control">
						<option value="">-</option>
						<option value="S">S</option>
						<option value="M">M</option>
						<option value="L">L</option>
					</select>
				</div>

				<div class="mb-3 d-flex align-items-center">
					<label for="price">Price</label>
					<input type="text" id="price" th:field="*{price}" />
					<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger ms-3">Price error
					</div>
				</div>

				<div class="mb-3 d-flex align-items-center">
					<label for="manufacturerlist">Manufacturer</label>
					<select id="manufacturerlist" th:field="*{manufacturer}" class="form-control" required>
						<option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}"
							th:text="${manufacturer.name}"></option>
					</select>
				</div>

				<br>

				<input type="submit" class="btn btn-success" value="Save"></input>
				<button type="button" onclick="location.href='/productlist'"
					class="btn btn-danger btn-smaller">Cancel</button>
			</form>
			<br>
			<a href="/home" class="btn btn-dark btn-smaller" style="margin-top: 10px; margin-bottom: 20px;">Back
				to homepage</a>
		</div>
	</div>


</body>

</html>