<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
</head>

<body>
    <h1>Omppu and Rane's shop home page</h1>
    <nav>
        <ul style="list-style-type: none;">
            <li><a href="/home">Home</a></li>
            <li><a href="/productlist">Products</a></li>
            <li><a href="/manufacturerlist">Manufacturers</a></li>
            <li><a href="/productsbymanufacturer">Manufacturer's products</a></li>
            <li><a href="/customerlist">Customers</a></li>
        </ul>
    </nav>

</body>

</html>