<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Product List</title>
</head>

<body>
    <div th:replace="~{fragments :: headerfragment}"></div>

    <div class="container">
        
        <div class="row">
            <div class="col">
                <h1>Omppu and Rane's shop home page</h1>
            </div>
        </div>


    </div>



</body>

</html>