<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>Omppu and Rane's Back-end</title>
</head>

<body>
  <div th:replace="~{fragments :: headerfragment}"></div>

  <!-- This is a public front page with a link to the storefront. -->
  <div class="container">

    <br />
    <div class="row">
      <div class="col">
        <h1 style="text-align: center;">Omppu and Rane's Back-end Application</h1>
      </div>
    </div>

    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <a th:href="@{https://omppuandrane.netlify.app/#/}" class="col btn btn-info">
          <h2>CLICK HERE TO ENTER THE SHOP</h2><br>
          <small>Buy the latest and most popular dog supplies</small>
        </a>
      </div>
    </div>

    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <img th:src="@{/images/tim-mossholder-HCZ7Y1PGpho-unsplash.jpg}" alt="Image Description" style="width: 100%;">
      </div>
    </div>

  </div>
</body>

</html>