<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <title>Product List</title>
</head>

<body>
  <div th:replace="~{fragments :: headerfragment}"></div>
  <div class="container">
  <h1 class="h1">Manufacturers</h1>
  <a href="/addmanufacturer" class="btn btn-primary btn-smaller" style="margin-top: 10px; margin-bottom: 10px;">Add new manufacturer</a>
  <div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <tr th:each="manufacturer : ${manufacturers}">
      <td th:text="${manufacturer.name}"></td>
      <td>
        <a th:href="@{/delete-manufacturer/{id}(id=${manufacturer.id})}"><button type="button"
            class="btn btn-danger btn-smaller">Delete</button></a>
      </td>
      <td>
        <a th:href="@{/edit-manufacturer/{id}(id=${manufacturer.id})}"><button type="button" class="btn btn-primary btn-smaller">Edit</button></a>
      </td>
    </tr>
  </table>

  <a href="/home" class="btn btn-dark btn-smaller" style="margin-top: 10px; margin-bottom: 10px;">Back to homepage</a>
</div>
</body>

</html>