<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <title>Product List</title>
</head>

<body>
  <div th:replace="~{fragments :: headerfragment}"></div>
  <div class="container">
  <h1 class="h1">Products</h1>
  <a href="/addproduct" class="btn btn-primary btn-smaller" style="margin-top: 10px; margin-bottom: 10px;">Add new product</a>
  <a href="/addmanufacturer" class="btn btn-primary btn-smaller" style="margin-top: 10px; margin-bottom: 10px;">Add new manufacturer</a>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Color</th>
      <th>Size</th>
      <th>Price</th>
      <th>Manufacturer</th>
      <th>Stock</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr th:each="product : ${products}">
      <td th:text="${product.name}"></td>
      <td th:text="${product.type.name}"></td>
      <td th:text="${product.color}"></td>
      <td th:text="${product.size}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.manufacturer.name}"></td>
      <td th:text="${product.stock}"></td>
      <td>
        <a th:href="@{/delete-product/{id}(id=${product.id})}"><button type="button"
          class="btn btn-danger btn-smaller">Delete</button></a>
      </td>
      <td>
        <a th:href="@{/edit-product/{id}(id=${product.id})}"><button type="button" class="btn btn-primary">Edit</button></a>
      </td>
      <td>
        <a th:href="@{/edit-stock/{id}(id=${product.id})}"><button type="button" class="btn btn-primary">Edit Stock</button></a>
      </td>
    </tr>
  </table>
  <a href="/addproduct"><button type="button" class="btn btn-primary">Add new product</button></a>
  <a href="/addmanufacturer"><button type="button" class="btn btn-primary">Add new manufacturer</button></a>
  <br>
  <a href="/home">Back to homepage</a>
</div>
</body>

</html>